.outer{
   align-items: center; 
   
   justify-content: center;
   background-color: rgb(163, 207, 69);
}

.calc{
    color: rgb(25, 215, 31);
    text-align: center;
    align-content: center;

}
.display{
    margin-left: 200px;
    display: inline-block;
    background-color: rgb(218, 176, 176);
}
.calc{
    display: block;
    
}
.numbers{
     margin-left: 200px;
}